[www]
user = www-data

group = www-data

listen = /var/run/php{{ PHP_VERSION }}-fpm.sock

listen.backlog = 65535

listen.owner = www-data

listen.group = www-data

request_slowlog_timeout = {{ PHPFPM_REQUEST_SLOW_TIMEOUT|default("5s") }}

slowlog = {{ PHPFPM_REQUEST_SLOW_PATH|default("/var/log/php-fpm/slowlog.log") }}

pm = {{ PHPFPM_PROC_MANAGER }}

pm.max_children = {{ PHPFPM_MAX_CHILDREN }}

{% if 'dynamic' in PHPFPM_PROC_MANAGER %}
pm.start_servers = {{ PHPFPM_START_SERVERS }}
pm.min_spare_servers = {{ PHPFPM_MIN_SPARE_SERVERS }}
pm.max_spare_servers = {{ PHPFPM_MAX_SPARE_SERVER }}
{% endif %}

{% if 'ondemand' in PHPFPM_PROC_MANAGER %}
pm.process_idle_timeout = {{ PHPFPM_PROC_IDLE_TIMEOUT }}
{% endif %}

pm.max_requests = {{ PHPFPM_MAX_REQUESTS }}

pm.status_path = {{ PHPFPM_STATUS_PATH }}

chdir = /

clear_env = {{ PHPFPM_CLEAR_ENV }}

{% if PHP_DISPLAY_ERRORS is defined and 'true' in PHP_DISPLAY_ERRORS %}
php_flag[display_errors] = on
{% else %}
php_flag[display_errors] = off
{% endif %}

php_admin_value[error_log] = {{ PHPFPM_ERROR_LOG_PATH }}

php_admin_flag[log_errors] = {{ PHPFPM_LOG_ERRORS }}

php_admin_value[memory_limit] = {{ PHPFPM_MEM_LIMIT }}

php_admin_value[max_execution_time] = {{ PHP_MAX_EXECUTION_TIME }}

php_admin_value[max_input_vars] = {{ PHP_MAX_INPUT_VARS }}

{% if PHP_UPLOAD_MAX_FILESIZE is defined %}
php_admin_value[upload_max_filesize] = {{ PHP_UPLOAD_MAX_FILESIZE }}
{% endif %}

{% if PHP_MAX_FILE_UPLOADS is defined %}
php_admin_value[max_file_uploads] = {{ PHP_MAX_FILE_UPLOADS }}
{% endif %}

{% if PHP_ENABLE_SHORT_OPEN_TAG is defined and 'true' in PHP_ENABLE_SHORT_OPEN_TAG %}
php_admin_value[short_open_tag] = true
{% endif %}

include = /etc/php/{{ PHP_VERSION }}/fpm/pool.d/include.d/*.conf