[unix_http_server]
file = /tmp/supervisor.sock           ; (the path to the socket file)

[supervisord]
logfile = /dev/stdout
logfile_maxbytes = 0
loglevel = info                       ; (log level;default info; others: debug,warn,trace)
pidfile = /tmp/supervisord.pid        ; (supervisord pidfile;default supervisord.pid)
nodaemon = true                       ; (start in foreground if true;default false)
minfds = 1024                         ; (min. avail startup file descriptors;default 1024)
minprocs = 200                        ; (min. avail process descriptors;default 200)
user = root	        	              ;

[include]
files = /etc/supervisor/conf.d/*.conf

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl = unix:///tmp/supervisor.sock ; use a unix:// URL  for a unix socket

[program:nginx]
command = /usr/sbin/nginx -g "daemon off;"
process_name = nginx
autostart = true
autorestart = true
stopsignal = TERM               ; signal used to kill process (default TERM)
stopwaitsecs = 10               ; max num secs to wait b4 SIGKILL (default 10)
stdout_logfile = /dev/stdout
stdout_logfile_maxbytes = 0
stderr_logfile = /dev/stderr
stderr_logfile_maxbytes = 0

[program:php-fpm]
command = php-fpm -F
proccess_name = php-fpm
autostart = true
autorestart = true
stdout_logfile = /dev/stdout
stdout_logfile_maxbytes = 0
stderr_logfile = /dev/stderr
stderr_logfile_maxbytes = 0

{% if ENABLE_CROND is defined and "true" in ENABLE_CROND %}
[program:cron]
command = /usr/sbin/cron -f -L 15
process_name=cron
stdout_logfile = /dev/stdout
stdout_logfile_maxbytes = 0
stderr_logfile = /dev/stderr
stderr_logfile_maxbytes = 0
user = root
autostart = true
autorestart = true
{% endif %}